<!-- Views/Account/Index.cshtml -->

@model ShopAppProject.Data.ApplicationUser

@{
    ViewData["Title"] = "Hesabım";
    var roles = ViewBag.Roles as IList<string>;
    var walletBalance = ViewBag.WalletBalance as decimal?;


}


<style>
    /* Style for Tabs */
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: #fff;
        background-color: #f8694c;
        border-color: #f8694c;
    }

    .bg-light {
        background-color: #e9ecef !important;
    }

    .card {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        border: none;
        margin-bottom: 20px;
    }

    .custom-modal .modal-dialog {
        max-width: 600px;
        margin: 30px auto;
    }

    .custom-modal .modal-content {
        border-radius: 8px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }

    .custom-modal .modal-header {
        background-color: #f8694c;
        color: white;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: 15px;
        border: none;
    }

    .custom-modal .modal-header h5 {
        margin: 0;
    }

    .custom-modal .close {
        color: white;
        opacity: 1;
    }

    .custom-modal .modal-body {
        padding: 20px;
        background-color: #fff;
    }

    .custom-modal .form-group label {
        color: #333;
        font-weight: bold;
    }

    .custom-modal .form-control {
        border-radius: 4px;
        border: 1px solid #ccc;
        padding: 10px;
        font-size: 14px;
    }

    .custom-modal .form-control:focus {
        border-color: #f8694c;
        box-shadow: none;
    }

    .custom-modal .btn-primary {
        background-color: #f8694c;
        border-color: #f8694c;
        padding: 10px 20px;
        font-size: 14px;
        border-radius: 4px;
    }

    .custom-modal .btn-primary:hover {
        background-color: #e65a00;
        border-color: #e65a00;
    }
</style>


<div class="container mt-5">
    <h4 class="pb-4 border-bottom" readonly onmousedown="return false;" style="cursor: default;">Hesap Ayarları</h4>

    <ul class="nav nav-tabs" id="myTabs">
        <li class="nav-item">
            <a class="nav-link active" id="user-info-tab" data-toggle="tab" href="#user-info">Kullanıcı Bilgileri</a>
        </li>
        @if (roles != null && (roles.Contains("Admin") || roles.Contains("Company")))
        {
            <li class="nav-item">
                <a class="nav-link" id="business-info-tab" data-toggle="tab" href="#business-info">Şirket Bilgileri</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link" id="mylist-info-tab" data-toggle="tab" href="#mylist-info">Listem</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="addresses-tab" data-toggle="tab" href="#addresses-info">Adreslerim</a>
        </li>
    </ul>

    <div class="tab-content mt-2">
        <div class="tab-pane fade show active" id="user-info">

            <div class="wrapper bg-white mt-sm-5">
                <div class="d-flex align-items-start py-3 border-bottom">
                    <img src="https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        class="img" alt="" style="max-height: 80px; margin-top: -50px;">
                    <div class="pl-sm-4 pl-1" id="img-section" style="margin-top: -50px; padding:10px;">
                        <b>Profil Fotoğrafı</b>
                        <p>1MB'dan az .png .jpg </p>
                        <button style="margin-left: -120px; margin-top:20px;"
                            class="btn button border"><b>Upload</b></button>
                    </div>


                    <div class="pl-sm-4 pl-2" id="img-section" style="margin-left: 25%; margin-top:-50px;">
                        <img src="img/money.png" class="img" alt="" style="max-height: 60px; margin-right: 2%;">
                        <b>Güncel Bakiye: @walletBalance?.ToString("C")</b>
                        <a class="btn btn-warning mr-5" asp-action="Wallet">
                            <i class="fas fa-plus"></i> Bakiye Ekle
                        </a>
                        <p>Yüklenen Bakiyeler İade Edilmez!</p>
                    </div>
                </div>

                <div class="py-2">
                    <div class="row py-2">
                        <div class="col-md-6">
                            <label for="firstname">Ad</label>
                            <input type="text" class="bg-light form-control" value="@Model.FirstName" readonly
                                onmousedown="return false;" style="cursor: default;">

                        </div>
                        <div class="col-md-6 pt-md-0 pt-3">
                            <label for="lastname">Soyad</label>
                            <input type="text" class="bg-light form-control" value="@Model.LastName" readonly
                                onmousedown="return false;" style="cursor: default;">
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-md-6">
                            <label for="email">Email Adres <span style="color: red;">Değiştirilemez</span></label>
                            <input type="text" class="bg-light form-control" value="@Model.UserName" readonly
                                onmousedown="return false;" style="cursor: default;">
                        </div>

                        <div class="col-md-6 pt-md-0 pt-3">
                            <label for="phone">Telefon Numarası</label>
                            <input type="text" class="bg-light form-control" value="@Model.PhoneNumber" readonly
                                onmousedown="return false;" style="cursor: default;">
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-md-6">
                            <label for="address">Kayıtlı Adres</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="address">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" data-toggle="modal"
                                        data-target="#addressModal">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pt-md-0 pt-3">
                            @if (roles != null && (roles.Contains("Admin") || roles.Contains("Company") ||
                            roles.Contains("Customer")))
                            {

                                <label for="Role">Rol <span style="color: red;">@(roles.Contains("Admin") ||
                                    roles.Contains("Company") ? "Değiştirilemez" : "")</span></label>
                                <input type="text" class="bg-light form-control" value="@string.Join(", ", roles)" readonly
                                    onmousedown="return false;" style="cursor: default;">
                            }

                        </div>


                    </div>
                    <div class="py-3 pb-4 border-bottom">
                        <a class="btn btn-primary mr-3" asp-action="Edit">Bilgilerimi Güncelle</a>
                        <a class="btn border button" asp-action="ChangePassword">Şifre Değiştir</a>


                    </div>

                </div>
            </div>

        </div>

        <div class="tab-pane fade" id="mylist-info">
            <a class="pb-4 border-bottom" style="font-size:24px;" asp-controller="myList" asp-action="Index">Listem</a>
            @if (Model.UserProductLists != null && Model.UserProductLists.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Ürün</th>
                            <th>Stok</th>
                            <th>Fiyat</th>
                            <th>İşlem</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var userProduct in Model.UserProductLists)
                        {
                            @await Html.PartialAsync("_UserProductListItem", userProduct)
                        }

                    </tbody>
                </table>
            }
            else
            {
                <p>Listeniz Boş</p>
            }
        </div>


        <!-- Modal -->
        <div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="addressModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addressModalLabel">Harita Görünümü</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Google Haritalar API eklenmiş bir iframe -->
                        <iframe width="100%" height="300" frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/place?q=Samsun&key=YOUR_GOOGLE_MAPS_API_KEY"
                            allowfullscreen>
                        </iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    </div>
                </div>
            </div>
        </div>

        @if (roles != null && (roles.Contains("Admin") || roles.Contains("Company")))
        {
            <div class="tab-pane fade" id="business-info">
                <h4 class="pb-4 border-bottom">Şirket Bilgileri</h4>
                <div class="row py-2">
                    <div class="col-md-6">
                        <label for="businessCompany">Şirket Adı</label>
                        <input type="text" class="form-control" value="@Model.BusinessCompany" readonly
                            onmousedown="return false;" style="cursor: default;">
                    </div>
                    <div class="col-md-6 pt-md-0 pt-3">
                        <label for="businessID">Şirket ID</label>
                        <input type="text" class="form-control" value="@Model.BusinessID" readonly
                            onmousedown="return false;" style="cursor: default;">
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-md-6">
                        <label for="businessMail">Şirket Mail</label>
                        <input type="text" class="form-control" value="@Model.BusinessMail" readonly
                            onmousedown="return false;" style="cursor: default;">
                    </div>
                    <div class="col-md-6 pt-md-0 pt-3">
                        <label for="businessAddress">Şirket Adres</label>
                        <input type="text" class="form-control" value="@Model.BusinessAddress" readonly
                            onmousedown="return false;" style="cursor: default;">
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-md-6">
                        <label for="businessPhoneNumber">Şirket Telefon Numarası</label>
                        <input type="text" class="form-control" value="@Model.BusinessPhoneNumber" readonly
                            onmousedown="return false;" style="cursor: default;">
                    </div>
                    <!-- Add additional business information fields as needed -->
                </div>
            </div>
        }
        <div class="tab-pane fade" id="addresses-info">
            <button class="btn btn-primary mt-3 mb-3" data-toggle="modal" data-target="#addAddressModal">Yeni Adres
                Ekle</button>

            <!-- Adres Listesi -->
            <div class="row">
                @if (Model.Addresses != null && Model.Addresses.Any())
                {
                    foreach (var address in Model.Addresses)
                    {
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">

                                    <h2>@address.AdresBasligi</h2>
                                    Ad Soyad: @address.AdSoyad
                                    <br>
                                    Telefon Numarası:<span style="color:Black; font-size:larger;">@address.mobilephone </span>
                                    <br>
                                    TC Kimlik/Passaport No: @address.TCKimlikNo
                                    <br>
                                    Ülke: @address.Country
                                    <br>
                                    İl: @address.City
                                    <br>
                                    İlçe: @address.State
                                    <br>
                                    Mahalle/Sokak/Köy: @address.Street
                                    <br>
                                    Adres Detayı: @address.DetayliAdres
                                    <br>
                                    Posta Kodu: @address.ZipCode

                                    </p>
                                    <button class="btn btn-primary"
                                        onclick="editAddress(@address.Id, '@address.Street', '@address.City', '@address.State', '@address.ZipCode', '@address.Country', '@address.AdresBasligi', '@address.AdSoyad', '@address.DetayliAdres', '@address.mobilephone', '@address.TCKimlikNo')">Düzenle</button>
                                    <button class="btn btn-danger" onclick="deleteAddress(@address.Id)">Sil</button>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>Hiç adres eklenmemiş.</p>
                }
            </div>


            <!-- Yeni Adres Ekleme Modalı -->
            <div id="addAddressModal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Yeni Adres Ekle</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="addAddressForm">
                                <div class="form-group">
                                    <label for="AdresBasligi">Adres Başlığı</label>
                                    <input type="text" class="form-control" id="AdresBasligi" name="AdresBasligi"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="AdSoyad">Ad Soyad</label>
                                    <input type="text" class="form-control" id="AdSoyad" name="AdSoyad" required>
                                </div>
                                <div class="form-group">
                                    <label for="country">Ülke</label>
                                    <input type="text" class="form-control" id="country" name="country" required>
                                </div>
                                <div class="form-group">
                                    <label for="city">İl</label>
                                    <input type="text" class="form-control" id="city" name="city" required>
                                </div>
                                <div class="form-group">
                                    <label for="state">İlçe</label>
                                    <input type="text" class="form-control" id="state" name="state" required>
                                </div>
                                <div class="form-group">
                                    <label for="street">Mahalle/Köy/Sokak</label>
                                    <input type="text" class="form-control" id="street" name="street" required>
                                </div>
                                <div class="form-group">
                                    <label for="DetayliAdres">Detaylı Adres</label>
                                    <input type="text" class="form-control" id="DetayliAdres" name="DetayliAdres"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="mobilephone">Cep Telefonu</label>
                                    <input type="text" class="form-control" id="mobilephone" name="mobilephone"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="TCKimlikNo">TC Kimlik/Passaport Numarası</label>
                                    <input type="text" class="form-control" id="TCKimlikNo" name="TCKimlikNo" required>
                                </div>
                                <div class="form-group">
                                    <label for="zipcode">Posta Kodu</label>
                                    <input type="text" class="form-control" id="zipcode" name="zipcode">
                                </div>

                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Adres Düzenleme Modalı -->
            <div id="editAddressModal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Adres Düzenle</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="editAddressForm">
                                <input type="hidden" id="editAddressId" name="addressId">

                                <div class="form-group">
                                    <label for="editAdresBasligi">Adres Başlığı</label>
                                    <input type="text" class="form-control" id="editAdresBasligi" name="AdresBasligi"
                                        required>
                                </div>

                                <div class="form-group">
                                    <label for="editAdSoyad">Ad Soyad</label>
                                    <input type="text" class="form-control" id="editAdSoyad" name="AdSoyad" required>
                                </div>

                                <div class="form-group">
                                    <label for="editCountry">Ülke</label>
                                    <input type="text" class="form-control" id="editCountry" name="country" required>
                                </div>
                                <div class="form-group">
                                    <label for="editCity">İl</label>
                                    <input type="text" class="form-control" id="editCity" name="city" required>
                                </div>

                                <div class="form-group">
                                    <label for="editState">İlçe</label>
                                    <input type="text" class="form-control" id="editState" name="state" required>
                                </div>
                                <div class="form-group">
                                    <label for="editStreet">Mahalle/Köy/Sokak</label>
                                    <input type="text" class="form-control" id="editStreet" name="street" required>
                                </div>
                                <div class="form-group">
                                    <label for="editDetayliAdres">Detaylı Adres</label>
                                    <input type="text" class="form-control" id="editDetayliAdres" name="DetayliAdres"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="editmobilephone">Cep Telefonu</label>
                                    <input type="text" class="form-control" id="editmobilephone" name="mobilephone"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="editTCKimlikNo">TC Kimlik/Passaport Numarası</label>
                                    <input type="text" class="form-control" id="editTCKimlikNo" name="TCKimlikNo"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="editZipCode">Posta Kodu</label>
                                    <input type="text" class="form-control" id="editZipCode" name="zipcode">
                                </div>



                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>




        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>

    function editAddress(id, street, city, state, zipCode, country, AdresBasligi, AdSoyad, DetayliAdres, mobilephone, TCKimlikNo) {
        // Form alanlarını doldur
        $("#editAddressId").val(id);
        $("#editAdresBasligi").val(AdresBasligi);
        $("#editAdSoyad").val(AdSoyad);
        $("#editCountry").val(country);
        $("#editStreet").val(street);
        $("#editCity").val(city);
        $("#editState").val(state);
        $("#editDetayliAdres").val(DetayliAdres);
        $("#editZipCode").val(zipCode);
        $("#editmobilephone").val(mobilephone);
        $("#editTCKimlikNo").val(TCKimlikNo);

        // Modalı göster
        $("#editAddressModal").modal('show');
    }


    // AJAX ile Düzenleme İsteği Gönderme
    $("#editAddressForm").submit(function (event) {
        event.preventDefault();
        var formData = {
            Id: $("#editAddressId").val(),
            Street: $("#editStreet").val(),
            AdresBasligi: $("#editAdresBasligi").val(),
            AdSoyad: $("#editAdSoyad").val(),
            City: $("#editCity").val(),
            State: $("#editState").val(),
            ZipCode: $("#editZipCode").val(),
            Country: $("#editCountry").val(),
            DetayliAdres: $("#editDetayliAdres").val(),
            mobilephone: $("#editmobilephone").val(),
            TCKimlikNo: $("#editTCKimlikNo").val()
        };

        $.ajax({
            url: '/Account/EditAddress', // Doğru URL kontrolü
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            success: function (result) {
                if (result.success) {
                    // Başarılı işlem
                    $("#editAddressModal").modal('hide');
                    location.reload();
                } else {
                    alert("Adres düzenlenemedi: " + result.message);
                }
            },
            error: function (xhr) {
                console.error("Hata: ", xhr.responseText);
                alert("Bir hata oluştu: " + xhr.responseText);
            }
        });
    });




    $(document).ready(function () {
        // Bootstrap Tab işlevselliğini manuel olarak etkinleştirme
        $('#myTabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        $("#addAddressForm").submit(function (event) {
            event.preventDefault();
            var formData = {
                AdresBasligi: $("#AdresBasligi").val(),
                AdSoyad: $("#AdSoyad").val(),
                street: $("#street").val(),
                city: $("#city").val(),
                state: $("#state").val(),
                zipcode: $("#zipcode").val(),
                country: $("#country").val(),
                DetayliAdres: $("#DetayliAdres").val(),
                mobilephone: $("#mobilephone").val(),
                TCKimlikNo: $("#TCKimlikNo").val()
            };
            $.ajax({
                url: '@Url.Action("AddAddress", "Account")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (result) {
                    if (result.success) {
                        alert("Adres Başarıyla Eklendi.");
                        $("#addAddressModal").modal('hide');
                        $('#myTabs a[href="#addresses-info"]').tab('show'); // 'Adreslerim' tabını göster
                        location.reload();
                    } else {
                        alert("Adres eklenemedi.");
                    }
                },
                error: function () {
                    alert("Bir hata oluştu.");
                }
            });
        });

    });




    function deleteAddress(addressId) {
        if (confirm("Bu adresi silmek istediğinizden emin misiniz?")) {
            $.ajax({
                url: '@Url.Action("DeleteAddress", "Account")' + '?addressId=' + addressId,
                type: 'POST',
                success: function (result) {
                    if (result.success) {
                        alert("Adres başarıyla silindi.");
                        location.reload(); // Sayfayı yenileyerek güncel adres listesini göster
                    } else {
                        alert("Adres silinemedi.");
                    }
                },
                error: function () {
                    alert("Bir hata oluştu.");
                }
            });
        }
    }
</script>
