@model ShopAppProject.Data.Deals

@{
    ViewData["Title"] = "Kampanya Düzenle";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" method="post" id="dealsForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="DealsId" />

    <div class="form-group">
        <label asp-for="DealsType" class="control-label">Kampanya Türü</label>
        <select asp-for="DealsType" class="form-control" asp-items="ViewBag.DealsType" onchange="showRelevantFields()">
            <option value="">Kampanya Türü Seçin</option>
        </select>
        <span asp-validation-for="DealsType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DealsName" class="control-label">Kampanya Adı</label>
        <input asp-for="DealsName" class="form-control" />
        <span asp-validation-for="DealsName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DealsDescription" class="control-label">Kampanya Açıklaması</label>
        <textarea asp-for="DealsDescription" class="form-control"></textarea>
        <span asp-validation-for="DealsDescription" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StartDate" class="control-label">Başlangıç Tarihi</label>
        <input asp-for="StartDate" class="form-control" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EndDate" class="control-label">Bitiş Tarihi</label>
        <input asp-for="EndDate" class="form-control" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <div id="dealsFields">
        <!-- Dinamik form alanları burada yer alacak -->
    </div>

    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>

@section Scripts {
    <script>
        // Sayfa yüklendiğinde, mevcut kampanya türüne göre ilgili alanları görüntüle
        document.addEventListener('DOMContentLoaded', function () {
            showRelevantFields();
        });

        function showRelevantFields() {
            var selectedType = document.getElementById("DealsType").value;
            var fieldsContainer = document.getElementById("dealsFields");

            fieldsContainer.innerHTML = ''; // Mevcut alanları temizle

            switch (selectedType) {
                case 'DiscountPercentage':
                    addDiscountPercentageFields(fieldsContainer);
                    break;
                case 'DiscountPrice':
                    addDiscountPriceFields(fieldsContainer);
                    break;
                case 'DiscountCoupon':
                    addDiscountCouponFields(fieldsContainer);
                    break;
                case 'FreeShipping':
                    addFreeShippingFields(fieldsContainer);
                    break;
                case 'GiftProduct':
                    addGiftProductFields(fieldsContainer);
                    break;
                case 'CategoryDiscount':
                    addCategoryDiscountFields(fieldsContainer);
                    break;
                case 'PointEarning':
                    addPointEarningFields(fieldsContainer);
                    break;
                default:
                    fieldsContainer.innerHTML = '';
            }
        }

        function addDiscountPercentageFields(container) {
            container.innerHTML += '<div class="form-group"><label for="DPercentage">İndirim Yüzdesi</label><input type="number" class="form-control" name="DPercentage" value="@Model.DPercentage" /></div>';
            container.innerHTML += '<div class="form-group"><label for="DPercentageMinimumPrice">İndirim İçin Minimum Fiyat</label><input type="number" class="form-control" name="DPercentageMinimumPrice" value="@Model.DPercentageMinimumPrice" /></div>';
        }

        function addDiscountPriceFields(container) {
            container.innerHTML += '<div class="form-group"><label for="DPrice">İndirim Fiyatı</label><input type="number" class="form-control" name="DPrice" value="@Model.DPrice" /></div>';
            container.innerHTML += '<div class="form-group"><label for="DPriceMinimumPrice">İndirim İçin Minimum Fiyat</label><input type="number" class="form-control" name="DPriceMinimumPrice" value="@Model.DPriceMinimumPrice" /></div>';
        }

        function addDiscountCouponFields(container) {
            container.innerHTML += '<div class="form-group"><label for="DCouponCode">Kupon Kodu</label><input type="text" class="form-control" name="DCouponCode" value="@Model.DCouponCode" /></div>';
            container.innerHTML += '<div class="form-group"><label for="DCodeMinimumPrice">Kupon İçin Minimum Fiyat</label><input type="number" class="form-control" name="DCodeMinimumPrice" value="@Model.DCodeMinimumPrice" /></div>';
        }

        function addFreeShippingFields(container) {
            container.innerHTML += '<div class="form-group"><label for="FSMinimumPrice">Ücretsiz Kargo İçin Minimum Fiyat</label><input type="number" class="form-control" name="FSMinimumPrice" value="@Model.FSMinimumPrice" /></div>';
        }

        function addGiftProductFields(container) {
            container.innerHTML += '<div class="form-group"><label for="GProductId">Hediye Ürün ID</label><input type="number" class="form-control" name="GProductId" value="@Model.GProductId" /></div>';
        }

        function addCategoryDiscountFields(container) {
            var categorySelectHtml = '<select class="form-control" name="ProductCategory">';
            categorySelectHtml += '<option value="">Bir Kategori Seçin</option>';

            @foreach (var category in ViewBag.ProductCategories)
            {
                if (category.Value == Model.ProductCategory)
                {
                    <text>categorySelectHtml += '<option value="@category.Value" selected>@category.Text</option>';</text>
                }
                else
                {
                    <text>categorySelectHtml += '<option value="@category.Value">@category.Text</option>';</text>
                }
            }

            categorySelectHtml += '</select>';

            container.innerHTML += '<div class="form-group"><label for="CDiscountPercentage">Kategori İndirim Yüzdesi</label><input type="number" class="form-control" name="CDiscountPercentage" value="@Model.CDiscountPercentage" /></div>';
            container.innerHTML += '<div class="form-group"><label for="CDMinimumPrice">Kategori İndirim İçin Minimum Fiyat</label><input type="number" class="form-control" name="CDMinimumPrice" value="@Model.CDMinimumPrice" /></div>';
            container.innerHTML += '<div class="form-group"><label for="ProductCategory">Ürün Kategorisi</label>' + categorySelectHtml + '</div>';
        }

        function addPointEarningFields(container) {
            container.innerHTML += '<div class="form-group"><label for="Point">Kazanılan Puan</label><input type="number" class="form-control" name="Point" value="@Model.Point" /></div>';
        }
    </script>
}
